/* ubuntu-condensed-regular - latin */
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/ubuntu-condensed-v11-latin/ubuntu-condensed-v11-latin-regular.svg#UbuntuCondensed")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* ubuntu-300 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-300.svg#Ubuntu")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.svg#Ubuntu")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
