.header {
  margin-bottom: 2vh;
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include responsive-max($max-width: 26.875em, $orientation: "portrait") {
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
}
