.navigation {
  display: flex;
  margin-bottom: 2vh;

  &--secondary {
    margin-bottom: 2vh;
    & > * {
      margin-right: 0.25em;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5.625vw;
    height: 5.625vw;
    background-color: $black;
    font-family: "Ubuntu Condensed", "Trebuchet MS", sans-serif;
    font-size: 1.1rem;
    text-align: right;
    text-decoration: none;
    color: white;
    padding-right: 0.6rem;
    box-sizing: border-box;
    margin-right: 0.4em;

    &:first-child {
      background-color: transparent;
    }
  }

  &__category {
    background-color: $black;
    color: white;

    h3 {
      color: unset;
      background-color: unset;
      margin-bottom: 0;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include responsive-max($max-width: 26.875em, $orientation: "portrait") {
  .navigation {
    width: 100%;

    &__link {
      width: 18.85vw;
      height: 18.85vw;
      font-size: 0.9rem;
      padding-right: 1vw;
      margin-left: 0.5vw;
    }

    &__category {
      h3 {
        font-size: 0.9rem;
        padding: 0.35rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .navigation {
    &__link {
      width: 13vw;
      height: 13vw;
      font-size: 0.9rem;
      margin-right: 0.4em;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
  .navigation {
    &__link {
      width: 12vw;
      height: 12vw;
      font-size: 1.2rem;
      margin-right: 0.5em;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: "landscape"
) {
  .navigation {
    &__link {
      width: 8vw;
      height: 8vw;
      font-size: 1rem;
      margin-right: 0.5em;
      padding-right: 0.5vw;
    }
  }
}
