
.share {
  margin: 1vh 0 5vh;

  & > * {
    margin-right: 0.4rem;
  }

  &__texto {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .share {
    &__icon {
      width: 26px;
      height: 26px;
    }
  }
}

@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .share {
    &__icon {
      width: 26px;
      height: 26px;
    }
  }
}
