@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.blog {
  display: flex;
  flex-wrap: wrap;

  &__descripcion {
    width: 100%;
  }
}

.articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  padding-left: 0;
  padding-right: 0;

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    margin-bottom: 4vh;
    overflow: hidden;
  }

  &__titulo {
    width: 100%;
    background-color: $gray-soft;
    color: $black;
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive($size: 26em, $orientation: "portrait") {
  .articulos {
    &__item {
      width: 49%;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive($size: 46em, $orientation: "landscape") {

  .articulos {
    &__item { 
      width: 49%;
    }
  
  }
}
