@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.blog {
    display: flex;
    flex-wrap: wrap;

    &__descripcion {
        width: 100%;
    }

}

.articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-right: 0;

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 24%;
        overflow: hidden;

    }

    &__titulo {
     width: 100%;
    }
}