@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;


.perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    &__col {
      width: 49%;
    }
  
    &__tablas {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      table {
        width: 48%;
        border: 1px solid $gray-border;
        padding: 0.4rem;
        margin-bottom: 1rem;
  
        thead {
          color: $black;
          font-size: 1.2rem;
        }
  
        em {
          font-size: 0.9rem;
        }
      }
    }
  }