
body {
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
  color: $black-a;
  @include image-background($image: "bg.webp");
  background-repeat: repeat;
  font-weight: 300;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button {
  border: 0;
  background-color: $gray-soft;
  padding: 0.5rem;
}

section {
  & > div {
    margin-bottom: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  background-color: $black;
  width: fit-content;
  color: White;
  font-weight: 300;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu Condensed", "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 1.375rem;
  line-height: 1.625rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

p {
  margin-top: 0;
  margin-bottom: 1vh;
}

// Navigation bar
.menu {
  display: flex;
}

// Main container
.main {
  margin-top: 1.2rem;
  margin-bottom: 1vh;

  & > div {
    display: flex;
  }
}

.page {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.7vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.galleryImage {
  cursor: zoom-in;
}

.hidden {
  display: none;
}

// Estilos para el detalle de proyectos y artículos
.detalle {
  display: flex;

  gap: 1vw;

  &__col-a {
    width: 27vw;
  }

  &__col-b {
    width: 72vw;
  }

  &__title {
    margin-bottom: 0;
  }

  &__imagen {
    border: 1px solid $gray-border;
  }

  &__lugar { 
    color: $black;
    font-style: italic;
  }

  &__descripcion {
    p {
      margin-top: 0;
    }

    a {
      color: $black;
      font-style: italic;
    }

    h2,
    h3 {
      margin-top: 3vh;
    }

    table {
      margin: 4vh 0 4vh 0;
      em {
        font-size: 0.9rem;
      }
    }
  }

  &__galeria {
    display: flex;
    gap: 1%;
    margin-bottom: 2rem;
  }

  &__item {
    width: 24%;
    border: 1px solid $gray-border;
    background-color: white;
  }

  &__button {
    cursor: pointer;
    padding: 0;
    line-height: unset;
  }
}

/* 404:Not found */
.notfound {
  max-width: 20vw;
}

code {
  color: #d55501;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 0.9rem;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  box-sizing: content-box;
  overflow-x: scroll;
}

pre {
  background-color: #e7e7e7;
  padding: 1.5em;
  border-radius: 1rem;
  display: flex;
}

pre code {
  color: $black-a;
  line-height: 1.42;
  font-size: 0.8rem;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include responsive-max($max-width: 26em, $orientation: "portrait") {
  h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  h4 {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  h5 {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  p {
    font-size: 0.938rem;
    line-height: 1.188rem;
  }

  section {
    & > div {
      margin-bottom: 3vh;
    }
  }

  .detalle {
    gap: unset;
    flex-wrap: wrap;
    &__col-a {
      width: 100%;
    }

    &__col-b {
      width: 100%;
      margin-top: 2vh;
    }

    &__descripcion {      
      ul {
        font-size: 0.938rem;
        line-height: 1.188rem;
      }
    }

    &__galeria {
      justify-content: space-between;
    }

    &__item {
      width: 49%;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
  h1 {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
/* @include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: "landscape"
) {
} */

/*-------------------------------------------- Desktop 1280px --------------------------------------------*/
@include responsive-min($min-width: 80em) {
  .detalle {
    &__descripcion {
      font-size: 1.125rem;
      line-height: 1.438rem;
    }
  }
}
