.inicio {
  &__col {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
  }
}

.hero {
  display: flex;
  width: 100%;
  align-self: flex-start;

  &__image img {
    min-width: 100%;
    height: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $gray-soft;

    a {
      color: $black;
      font-style: italic;
    }
  }

  &__description {
    font-size: 1.313rem;
    line-height: 2rem;
    background: unset;
    margin-bottom: 0;
    padding: 1.5em 1.125em 1.5em 1.125em;
  }
}

.skills {
  width: 100%;
  align-self: flex-start;

  &__list {
    display: flex;
    align-self: flex-start;
    margin-top: 1em;
  }

  &__item {
    width: 7em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gray-soft;
    box-sizing: border-box;
    text-align: center;
    margin-right: 1em;
    overflow: hidden;
  }

  &__item-title {
    width: 100%;
    background-color: transparent;
    color: unset;
    text-transform: capitalize;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $black;
    padding-top: 1em;

    &:hover {
      background: $black;
      color: white;
      font-weight: 100;
      transition-timing-function: ease-in;
      transition: 0.2s;
    }
  }

  &__title {
    align-self: flex-start;
  }
}

.feed {
  &__articulos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
  }

  &__item {
    width: 49%;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    width: 100%;
    background-color: $gray-soft;
    color: $black;
    font-style: normal;
  }

  &__guias {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    list-style: none;
    padding: 0;
  }

  &__guia {
    margin-right: 1.5em;
  }
}

.formulario {
  &__form {
    margin: 2rem 0 2rem 0;

    input:required,
    input:invalid,
    textarea:required {
      box-shadow: none;
    }
    input:invalid {
      box-shadow: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
      font-weight: 300;
      width: 70%;
      border-style: solid;
      border-color: $black;
      border-width: 0 0 1px 0;
      margin-bottom: 5%;
      background: none;

      &:focus {
        outline: none !important;
        border: 1px solid $gray-border;
      }
    }

    input[type="submit"] {
      color: $black;
      background-color: $gray-soft;
      padding: 0.5rem;
      border: none;
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .inicio {
    flex-wrap: wrap;
    gap: unset;

    &__col {
      width: 100%;
    }
  }

  .hero {
    &__info {
    }

    &__description {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }

    &__title {
      margin-bottom: 1vh;
    }
  }

  .skills {
    &__item {
      width: 5em;
      height: 5em;
    }

    &__item-title {
      font-size: 0.9rem;
    }
  }

  .formulario {
    &__form {
      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea {
        font-size: 0.9rem;
        width: 96%;
      }
      input[type="submit"] {
        font-size: 0.9rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .inicio {
    flex-wrap: wrap;
    gap: unset;
    &__col {
      width: 100%;
    }
  }

  .hero {
    &__imagen {
    }

    &__info {
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
  .inicio {
    flex-wrap: wrap;
    gap: unset;

    &__col {
      width: 100%;
    }
  }

  .inicio {
    &__col {
      width: 100%;
    }
  }

  .hero {
    &__imagen {
    }

    &__info {
    }
  }

  .skills {
    &__link {
      font-size: 1.5rem;
    }

    &__item-title {
      font-size: 1.5rem;
    }
  }

  .formulario {
    width: 100%;
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: "landscape"
) {
  .hero {
    &__imagen {
    }

    &__info {
    }
  }
  .skills {
    &__link {
      font-size: 1rem;
    }

    &__item-title {
      font-size: 1rem;
    }
  }
}

/*-------------------------------------------- Desktop 1280px --------------------------------------------*/
@include responsive-min($min-width: 80em) {
  .formulario {
    width: 60%;
  }
}
