.perfil {
  display: flex;
  flex-wrap: wrap;

  &__images-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  .caras {
    &__media {
      display: flex;
      justify-content: center;

      background-color: white;
      margin-right: 1vw;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid $black;
    }

    &__boton {
      cursor: pointer;
      border: 0;
      color: $black;
      background-color: $gray-soft;
      font-size: 0.9rem;
      margin-top: 1em;
      padding: 0.5em 1em 0.5em;

      &:hover {
        background-color: $black;
        color: white;
      }

      &--icono {
        font-size: 1.2rem;
      }
    }
  }

  .tabs {
    & > div {
      margin-bottom: 3vh;
    }
  }

  &__tablas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    table {
      width: 48%;
      border: 1px solid $gray-border;
      padding: 0.75em;
      margin-bottom: 1rem;
      background-color: white;

      thead {
        color: $black;
      }

      em {
        font-size: 0.9rem;
      }
    }
  }
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/
@include responsive-max($max-width: 26em, $orientation: "portrait") {
  .perfil {
    &__images-wrapper > div {
      max-width: 49%;
    }

    &__tablas {
      table {
        width: 100%;
      }
    }
  }

  .caras {
    &__media {
      width: 13em;
      height: 13em;
    }

    &__info {
      width: 58vw;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .perfil {
    &__tablas {
      table {
        width: 49%;
      }
    }
  }

  .caras {
    &__media {
      width: 12em;
      height: 12em;
    }

    &__info {
      width: 70vw;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
  .perfil {
    &__tablas {
      table {
        width: 100%;
      }
    }
  }

  .caras {
    &__media {
      width: 18em;
      height: 18em;
    }

    &__info {
      width: 70vw;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: "landscape"
) {
  .perfil {
    flex-wrap: nowrap;
  }

  .caras {
    &__media {
      width: 18em;
      height: 18em;
    }
  }
}

/*-------------------------------------------- Desktop 1280px --------------------------------------------*/
@include responsive-min($min-width: 80em) {
  .perfil {
    flex-wrap: nowrap;   
      p {
        width: 80%;
      }    
  }

  .caras {
    &__media {
      width: 18em;
      height: 18em;
    }
  }
}
