@use "../assets/scss/normalize" as *;
@use "../assets/scss/variables" as *;
@use "../assets/scss/fonts";
@use "../assets/scss/mixins" as *;

/* ubuntu-condensed-regular - latin */

body {
  font-family: "Ubuntu Condensed";
  color: $black-a;
  /* color:$black; */
  @include image-background($image: "bg.jpg");
  /*   background-image: url("../images/bg.jpg");*/
  background-repeat: repeat;
  font-family: "Ubuntu Condensed", "Lucida Sans Unicode", "Lucida Grande",
    sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button {
  border: 0;
  background-color: $gray-soft;
  padding: 0.5rem;
}

section {
  & > div {
    margin-bottom: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  background-color: $black;
  width: fit-content;
  color: White;
  font-weight: 300;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1vh;
}

h1 {
  font-size: 1.375rem;
  line-height: 1.625rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

p {
  margin-bottom: 1vh;
}

// Navigation bar
.menu {
  display: flex;
}

.header {
  width: 8.3vw;
  margin-right: 0.65vw;

  &__tag {
    margin-top: 0.6vw;
  }
}

.navigation {
  display: flex;

  & > * {
    margin-right: 0.65vw;
  }

  &--secondary {
    margin-bottom: 2vh;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;
    font-size: 1.1rem;
    text-align: right;
    text-decoration: none;
    color: white;
    width: 8.3vw;
    height: 8.3vw;
    padding-right: 0.6rem;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }
  }

  &__category {
    background-color: $black;
    color: white;

    h3 {
      color: unset;
      background-color: unset;
      margin-bottom: 0;
    }
  }
}

// Main container
.main {
  margin-top: 1.2rem;
  margin-bottom: 1vh;

  & > div {
    display: flex;
  }
}

.page {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.7vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.footer {
  display: flex;
  margin-top: auto;
  p {
    font-size: 1rem;
    height: fit-content;
    color: white;
    background-color: $black;
    margin: 0;
    padding: 0.5rem;
  }
  &__rrss {
    display: flex;
    flex-direction: row-reverse;
  }
  &__link {
    padding: 0.5rem;
    margin-left: 0.7rem;
    background-color: $black;
    color: white;
  }
}

.share {
  margin: 1vh 0 5vh;

  & > * {
    margin-right: 0.4rem;
  }

  &__texto {
    margin-bottom: 0.4rem;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

.galleryImage {
  cursor: zoom-in;
}

.hidden {
  display: none;
}

// Estilos para el detalle de proyectos y artículos
.detalle {
  display: flex;

  gap: 1vw;

  &__col-a {
    width: 27vw;
  }

  &__col-b {
    width: 72vw;
  }

  &__title {
    margin-bottom: 0;
  }

  &__imagen {
    border: 1px solid $gray-border;
  }

  &__lugar {
    font-weight: bold;
  }

  &__descripcion {
    p {
      margin-top: 0;
    }

    h2,
    h3 {
      margin-top: 3vh;
    }
  }

  &__galeria {
    display: flex;
    gap: 1%;
  }

  &__item {
    width: 24%;
    border: 1px solid $gray-border;
  }

  &__button {
    cursor: pointer;
    padding: 0;
    line-height: unset;
  }
}

/* 404:Not found */
.notfound {
  max-width: 20vw;
}

/* The Modal (background) */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 200ms;

  &__content {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 8%;
    background-color: white;
  }

  &__cuerpo {
    display: flex;
    flex-wrap: wrap;
  }

  &__boton {
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 10;
    right: 0.5rem;
    top: 0.5rem;
    color: white;
    background-color: $black;
    font-size: 1.6rem;
    line-height: 0.5rem;
  }
}

.modal {
  display: none;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

code {
  color: #d55501;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 0.9rem;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  box-sizing: content-box;
  overflow-x: scroll;
}

pre {
  background-color: #e7e7e7;
  padding: 1.5em;
  border-radius: 1rem;
  display: flex;
}

pre code {
  color: $black-a;
  line-height: 1.42;
  font-size: 0.8rem;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

/*-------------------------------------------- Mobile Portrait --------------------------------------------*/

@include responsive-max($max-width: 26em, $orientation: "portrait") {
  h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  h4 {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  h5 {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  p {
    font-size: 0.938rem;
    line-height: 1.188rem;
  }

  section {
    & > div {
      margin-bottom: 3vh;
    }
  }

  .header {
    width: 18.85vw;

    &__tag {
      margin-top: 1.2vw;
    }
  }

  .navigation {
    &__link {
      width: 18.85vw;
      height: 18.85vw;
      font-size: 0.9rem;
      padding-right: 1vw;
      margin-left: 0.5vw;
    }

    &__category {
      h3 {
        font-size: 0.85rem;
        padding: 0.25rem;
      }
    }
  }

  .footer {
    p {
      font-size: 0.8rem;
      padding: 0.4rem;
    }

    &__link {
      font-size: 0.9rem;
      margin-left: 1vw;
      padding: 0.4rem;
    }
  }

  .share {
    &__icon {
      width: 26px;
      height: 26px;
    }
  }

  .detalle {
    gap: unset;
    flex-wrap: wrap;
    &__col-a {
      width: 100%;
    }

    &__col-b {
      width: 100%;
      margin-top: 2vh;
    }

    &__galeria {
      justify-content: space-between;
    }

    &__item {
      width: 49%;
    }
  }
}

/*-------------------------------------------- Mobile Landscape --------------------------------------------*/
@include responsive-max($max-width: 46em, $orientation: "landscape") {
  .header {
    width: 14vw;

    &__tag {
      margin-top: 1.5vh;
    }
  }

  .navigation {
    &__link {
      font-size: 0.9rem;
      width: 14vw;
      height: 14vw;
    }
  }

  .footer {
    p {
      font-size: 0.8rem;
    }

    &__link {
      font-size: 0.8rem;
      margin-left: 1vw;
    }
  }

  .share {
    &__icon {
      width: 26px;
      height: 26px;
    }
  }
}

/*-------------------------------------------- Tablet Portrait --------------------------------------------*/
@include responsive-min-max(
  $min-width: 48em,
  $max-width: 64em,
  $orientation: "portrait"
) {
  h1 {
    font-size: 1.625rem;
    line-height: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .header {
    width: 13vw;

    &__tag {
      margin-top: 0.6vh;
    }
  }

  .navigation {
    &__link {
      width: 13vw;
      height: 13vw;
      font-size: 1.2rem;
    }
  }

  .footer {
    p {
      line-height: unset;
    }
  }
}

/*-------------------------------------------- Tablet Landscape --------------------------------------------*/
@include responsive-min-max(
  $min-width: 64em,
  $max-width: 85.375em,
  $orientation: "landscape"
) {
  .navigation {
    &__link {
      font-size: 1rem;
      padding-right: 0.5vw;
    }
  }

  .footer {
    p {
      font-size: 0.875rem;
    }
    &__link {
      font-size: 0.875rem;
    }
  }
}

/*-------------------------------------------- Desktop 1280px --------------------------------------------*/
@include responsive-min($min-width: 80em) {
  .detalle {
    &__descripcion {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }
}
