.slick-prev,
.slick-next {
  z-index: 50;
  &::before {
    color: black;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.test {
  width: 640px;
  height: 320px;
}

.estilo {
  display: none;
}
